<nav>
    <ul class="list-unstyled components">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/interpolation">Interpolation</a></li>
      <li><a routerLink="/binding">Property binding</a></li>
      <li><a routerLink="/event">Event binding</a></li>
      <li><a routerLink="/two-way">Two-way</a></li>
      <li><a routerLink="/reference">Reference vars</a></li>
      <li><a routerLink="/parent">@Input</a></li>
      <li><a routerLink="/parent-output">@Output</a></li>
      <li><a routerLink="/builtin-attributes">Built-in attributes</a></li>
      <li><a routerLink="/builtin-structures">Built-in structures</a></li>
      <li><a routerLink="/user">User</a></li>
    </ul>
</nav>