<!-- <app-interpolation></app-interpolation>
<app-binding></app-binding>
<app-event></app-event>
<app-two-way></app-two-way>
<app-reference></app-reference>
<app-parent></app-parent>
<app-parent-output></app-parent-output>
<app-builtin-attributes></app-builtin-attributes>
<app-builtin-structures></app-builtin-structures> -->
<div class="wrapper">
    <app-menu></app-menu>
    <div id="content">
        <router-outlet></router-outlet>
        <!-- <app-interpolation></app-interpolation>
        <app-binding></app-binding>
        <app-event></app-event>
        <app-two-way></app-two-way>
        <app-reference></app-reference>
        <app-parent></app-parent>
        <app-parent-output></app-parent-output>
        <app-builtin-attributes></app-builtin-attributes>
        <app-builtin-structures></app-builtin-structures> 
        <app-user></app-user> -->
    </div>
  </div>